<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="article : ${articles}" class="checkbox">
        <input type="checkbox" name="articleIds" th:value="${article.id}" th:id="${article.id}"/>
        <label th:for="${article.id}" th:text="${article.articleTitle}"></label>
        <br />
    </div>

    <input type="submit" value="Remove article" />
</form>

</body>
</html>