<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">


    <tr>
        <td th:text="${articleTitle}"></td>
    </tr>

    <tr>
        <td th:text="${articleContent}"></td>
    </tr>

</table>
<p th:unless="${ratings} and ${ratings.size()}">There are no ratings yet. Be the first to rate it!</p>
<a th:href="'/article/rate/' + ${articleId}">Rate this article</a>
<table>
    <tr>
        <td>Overall  |  </td>
        <td>Fact  |  </td>
        <td>Opinion  |  </td>
        <td>Bias</td>
    </tr>
    <tr th:each="rating : ${ratings}">
        <td><a th:text="${rating.overall}"></a></td>
        <td><a th:text="${rating.fact}"></a></td>
        <td><a th:text="${rating.opinion}"></a></td>
        <td><a th:text="${rating.bias}"></a></td>
    </tr>
</table>

</body>
</html>