<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${articleTitle}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">


    <tr>
        <td th:text="${articleTitle}"></td>
    </tr>

    <tr>
        <td th:text="${articleContent}"></td>
    </tr>

</table>
<p th:unless="${ratings} and ${ratings.size()}">There are no ratings yet. Be the first to rate it!</p>
<a th:href="'/article/rate/' + ${articleId}">Rate this article</a>
<table>
    <tr>
        <td>Overall  |  </td>
        <td>Fact  |  </td>
        <td>Opinion  |  </td>
        <td>Bias</td>
    </tr>
    <tr>
        <td th:text="${overallRating}"></td>
        <td th:text="${factRating}"></td>
        <td th:text="${opinionRating}"></td>
        <td th:text="${biasRating}"></td>
    </tr>
    <tr th:each="rating : ${ratings}">
        <td th:text="${rating.overall}"></td>
        <td th:text="${rating.fact}"></td>
        <td th:text="${rating.opinion}"></td>
        <td th:text="${rating.bias}"></td>
    </tr>
</table>

</body>
</html>