<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:fragment="navigation">
    <a href="/article">List</a>  |
    <a href="/article/post">Post New Article</a>  |
    <a href="/article/remove">Remove</a>  |
    <a href="/category">Categories</a>
</nav>

<h2 th:fragment="radio-rate">
    <input type="radio" name="overall" value="0">0<br>
    <input type="radio" name="overall" value="1">1<br>
    <input type="radio" name="overall" value="2">2<br>
    <input type="radio" name="overall" value="3">3<br>
    <input type="radio" name="overall" value="4">4<br>
    <input type="radio" name="overall" value="5">5<br>
</h2>

</body>
</html>